@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: sans-serif;
}

@layer base {
  p {
    @apply text-paragraph;
    font-size: 20px;
    font-weight: 400;
  }
  h1 {
    @apply text-4xl font-bold text-header;
  }
  h2 {
    @apply text-3xl font-bold text-header;
  }
  h3 {
    @apply text-xl font-bold;
  }
}
